.grillos {
    font-size: 20px;
}

.caracol {
    font-size: 40px;
}

.cactus2 {
    font-size: 150px;
}

.gato1 {
    font-size: 70px;
}

.flor {
    
    font-size: 40px;
}
.gato2 {
    font-size: 60px;
}

.cactus3 {
    font-size: 100px;
}

.carpa {
    font-size: 100px;
    
}

.arbol {
    font-size: 95px;
}

.monte {
    font-size: 300px;
}