.cincuenta {
    background-color: #0000ff;
}

.cuarentaycinco {
    background-color: #1f1fd1;
}

.cuarenta {
    background-color: #3c3cca;
}

.treintaycinco {
    background-color: #7676e2;
}

.treinta {
    background-color: #34c2e6;
}

.veinticinco {
    background-color: #90f0f7;
}

.veinte {
    background-color: #FFFFFF;
}

.quince {
    background-color: #e7aa5a;
}

.diez {
    background-color: #ff7b00;
}

.cinco {
    background-color: #ff0000;
}

.cero {
    background-color: #ff0000;
}
